# Web Framework (API)
fastapi
uvicorn
python-multipart   # Required for File Uploads (Excel/CSV)

# AI & Agents
langgraph
langchain-google-genai
langchain-core
pydantic

# MLOps & Monitoring
mlflow

# Data Processing
pandas
python-dotenv

# Database (Optional for now, but good to have)
# supabase
python-dotenv
openai>=1.40.0
google-genai>=0.2.0
